
    <h1 class="title">Shirts</h1>
    <div class="cards">
     <% @shirts.each do |shirt| %>
     <div class="card text-align-center">


            <%= link_to image_tag(shirt.photo_url), shirt_path(shirt) %>



            <h3><%= link_to shirt.name, shirt_path(shirt) %></h3>
            <p><%= shirt.category.name %></p>
            <p>Amount: <%= humanized_money_with_symbol(shirt.price) %></p>

      </div>



    <% end %>
  </div>






